body {
  list-style-type: upper-roman;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.swiper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: block;
}
nav {
  padding: 0px;
  border: 0px solid white;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(8, 18, 21);
}
p {
  color: black;
}
.horizontal-container {
  display: flex;
  align-items: center;
}
.horizontal-container-2 {
  display: flex;
  align-items: center;
}

button {
  color: white;
  background-color: black;
  margin: 0;
  display: block;
  width: 200px;
  height: 60px;
}

a {
  color: black;
  text-decoration: none;
}
h4 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: black;
}
h3 {
  color: white;
}
a[href="forhim.html"] {
  text-decoration: none;
}

a[href="forhim.html"] button {
  border: none;
  cursor: pointer;
}
.headerman {
  background-color: white;
}
.navbar {
  border-radius: 0;
}
.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.letter-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: #cb5a5e;
    }
    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: #cb5a5e;
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: #cb5a5e;
      opacity: 0.3;
    }
  }
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}
.fb-form {
  width: 300px;
  top: 50%;
  left: 50%;
  position: relative;

  h2 {
    text-align: center;
    font-size: 1.4em;
  }

  transform: translate(-50%, -50%);

  input {
    margin: 15px 0;
  }

  input[type="submit"] {
    margin-top: 0;
  }

  textarea {
    height: 100px;
  }
}

.rating {
  margin: 15px auto;
  transform: rotateY(180deg);
  width: 100%;

  .fa-star {
    font-size: 2em;
    cursor: pointer;
    margin: 0 5.1%;
    transition: all 0.5s ease;

    &.active-rating {
      transition: all 0.5s ease;

      animation: rating-highlight 0.5s ease forwards;

      &:nth-child(5) {
        color: yellow;
        transition: all 0.5s ease;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          color: yellow;
          transition: all 0.5s ease;

          & ~ .fa-star {
            transition: all 0.5s ease;
            color: yellow;
          }
        }
      }
    }

    &:hover {
      &:nth-child(5) {
        color: yellow;
        transition: all 0.5s ease;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          color: yellow;
          transition: all 0.5s ease;

          & ~ .fa-star {
            color: yellow;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

@keyframes rating-highlight {
  0% {
    transform: rotate(-10deg) scale(1.2);
  }
  20% {
    transform: rotate(10deg) scale(0.8);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
  80% {
    transform: rotate(5deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
#chat-widget-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.chat-header {
  background-color: #4848fa;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.chat-messages {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  padding: 10px;
}

#message-input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chat-button {
  width: 28%;
  background-color: #4848fa;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
#scrollToTopBtn {
  width: 4%;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 1px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}
