body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://apollohealthlib.blob.core.windows.net/health-library/2022/12/Winter-Safety-for-Older-Adults.jpg");
}

.countdown {
  text-align: center;
  font-size: 24px;
}

.timer span {
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.labels span {
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  color: #333;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: rgb(0, 34, 255);
  color: white;
  padding: 6px 2px;
  margin: 1px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.4;
}

.score {
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}

#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #111;
  border: 5px double #fff;
  border-radius: 14px;
  padding: 8px 10px;
  outline: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
}

#play-again-btn:hover {
  background-color: #333;
}

#play-again-btn:active {
  background-color: #555;
}

#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}

.draggable-items {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1.5rem 1rem;
  transition: opacity 0.5s;
}

.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}

.draggable:hover {
  opacity: 0.5;
}

.matching-pairs {
  transition: opacity 0.5s;
}

.matching-pair {
  height: 6rem;
  width: 22rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.matching-pair span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.label {
  width: 15rem;
  font-size: 2rem;
}

.droppable {
  width: 6rem;
  font-size: 4rem;
  background-color: #fff;
  border: 3px dashed #111;
  transition: 0.2s;
}

.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}

.dropped {
  border-style: solid;
}

.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  #play-again-btn {
    top: -0.4rem;
  }

  #play-again-btn.play-again-btn-entrance {
    transform: translateX(7rem);
  }
}

#dropZone,
#animals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
}

#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid #aaaaaa;
}

img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.countdown {
  margin-bottom: 20px;
}

/* Additional CSS for spacing between sections if needed */
.countdown,
#dropZone {
  margin-bottom: 20px;
}

h2 {
  font-display: initial;
}
